.header__navigation {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	margin-right: 54px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 17px;
	border-bottom: 1px solid #bfbdb2;
}
