/* Media Queries */

/* 992 - 1024 px */
@media screen and (max-width: 1024px) {
	.slider__item {
		max-width: 30%;
	}

	.slider__item_active {
		max-width: 40%;
	}

	.slider__arrow {
		bottom: 12%;
	}
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
	.header__navigation {
		display: none;
	}

	.hero {
		padding: 40px 0;
	}

	.hero__title {
		font-size: 40px;
		margin-bottom: 24px;
	}

	.slider__item {
		max-width: 25%;
	}

	.slider__item_active {
		max-width: 50%;
	}

	.slider__arrow {
		width: 40px;
		bottom: 31%;
	}
}

/* 320 - 560 px */
@media screen and (max-width: 560px) {
	.container {
		padding: 0 24px;
	}

	.main__link {
		padding: 10px 24px;
		font-size: 12px;
	}

	.hero {
		padding: 32px 0;
	}

	.hero__title {
		font-size: 24px;
		margin-bottom: 16px;
		max-width: 420px;
	}

	.slider {
		padding-bottom: 20px;

	}

	.slider__item {
		max-width: 100%;
	}

	/* .slider__item_active {
		max-width: 100%;
	} */
	.slider__arrow {
		bottom: 0;
	}

	.slider__arrow-left {
		left: 0%;
	}

	.slider__arrow-right {
		right: 0%;
	}
}